<!DOCTYPE html>
<html>
<head>
  <title>Add Figure</title>
</head>
<body>

<h1>Add Figure</h1>

<form action="/figures" method="POST">
<input  id="figure_name" type="text" name="figure[name]">
<!-- <input  id="figure_name" type="text" name="figure[name]">
 -->
 <input type="submit" value="Add Figure">  
</form>
</body>
</html>